@using BikeRental.Resources.Models;
@using BikeRental.Resources.Views;
@using BikeRental.Resources.Views.Shared;

@model BikeRental.Models.Office

@{
    ViewBag.Title = OfficeViewRes.DeletePageTitle;
}

<h2>@OfficeViewRes.DeletePageTitle</h2>

<h3>@MessagesRes.ConfirmDeleteQuestion</h3>
<fieldset>
    <legend>@OfficeViewRes.FormTitle</legend>

    <div class="display-label">@OfficeRes.Address</div>
    <div class="display-field">@Model.Address</div>

    <div class="display-label">@OfficeRes.Orders</div>
    <div class="display-field">@(Model.Orders == null ? "None" : Model.Orders.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink(ButtonRes.Back, "Index")
    </p>
}


