@using BikeRental.Resources.Views;
@using BikeRental.Resources.Views.Shared;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
    <script src="@Url.Content("http://code.jquery.com/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("http://code.jquery.com/ui/1.10.3/jquery-ui.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
</head>

<body>
    <div id="wrapper">
        <div class="menu">
            @Html.ActionLink(OrderViewRes.MainPageTitleLink, "Main", "Order")&nbsp;|&nbsp;
            @Html.ActionLink(OrderViewRes.IndexPageTitle, "Index", "Order")&nbsp;|&nbsp;
            @Html.ActionLink(BikeViewRes.IndexPageTitle, "Index", "Bike")&nbsp;|&nbsp;
            @Html.ActionLink(ClientViewRes.IndexPageTitle, "Index", "Client")&nbsp;|&nbsp;
            @Html.ActionLink(OfficeViewRes.IndexPageTitle, "Index", "Office")
        </div>
        <div id="wrapper2">
            @RenderBody()
        </div>
    </div>
</body>
</html>
