@using BikeRental.Resources.Models;
@using BikeRental.Resources.Views;
@using BikeRental.Resources.Views.Shared;

@model IEnumerable<BikeRental.Models.Client>
@{
    ViewBag.Title = ClientViewRes.IndexPageTitle;
}

<h2>@ClientViewRes.IndexPageTitle</h2>

<p>@Html.ActionLink(ButtonRes.Create, "Create")</p>

<table>
    <tr>
        <th>@ClientRes.FIO</th>
        <th>@ClientRes.Orders</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.FIO</td>
        <td>@(item.Orders == null ? "None" : item.Orders.Count.ToString())</td>
        <td>
            @Html.ActionLink(ButtonRes.Edit, "Edit", new { id=item.Id }) |
            @Html.ActionLink(ButtonRes.Delete, "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


