@using BikeRental.Resources.Models;
@using BikeRental.Resources.Views;
@using BikeRental.Resources.Views.Shared;

@model IEnumerable<BikeRental.Models.Order>
@{
    ViewBag.Title = OrderViewRes.MainPageTitle;
    
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "OrdersBikes"
    };    
}

<h2>@OrderViewRes.MainPageTitle</h2>
<div style="width:30%;">
    @using (Ajax.BeginForm("FilterByBike", "Order", FormMethod.Post, ajaxOptions))
    {
        <select name="BikeFilter" id="BikeFilter">
            <option value="-1"> Все модели </option>
            @foreach (var item in (IEnumerable<BikeRental.Models.Bike>)ViewBag.PossibleBike)
            {
                <option value="@item.Id">
                    @item.Id
                    @Html.DisplayText("<span>.&nbsp</span>")
                    @item.Model
                </option>
            }
        </select>
    }
</div>

<div id="OrdersBikes">
    @Html.Partial("FilterByBike")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#BikeFilter").change(function () {
            //var id = $(this).attr("value");
            $(this).parents('form').submit();
        });
    });
</script>

